@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden ;
}

dialog::backdrop {
    background-color: rgb(247, 235, 235);
  }
  

  